<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <!-- Navbar -->

    <nav class="navbar">
        <div class="left">
            <a href="/" class="logo"> 
                <img src="/static/media/calendar.png" alt="Logo"> 
                <ul>
                    <li class="project-name">Attendance Management System <br>with Class Recommendation
                    </li>
                </ul>
            </a>
           
        </div>

        <ul class="nav-links">
            <li><a href="/">Login</a></li>
            <li><a href="{{ url_for('cgpa') }}">SGPA Calculator</a></li>
        </ul>
    </nav>

    <div class="main-ctnr">

        <div class="welcome-txt">
            <p>Hey there! Welcome to...</p>
        </div>
        
        <div class="typewriter-txt">
            <h2 class="text-center">Smart Attendance Analyzer</h2>
        </div>
        
    
        <div class="container-mt-5">
    
            <div class="form-container">
                <form action="/" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="ex. deshpandeda@rknec.edu">
                    </div>
        
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required placeholder="enter password">
                        <!-- toggle -->
                    <button type="button" class="toggle-btn" onclick="togglePassword()">
                        <img src="/static/media/icons8-eye-30.png" alt="show/hide">
                    </button>
                    </div>
    
                    <div class="submit-btn-ctnr">
                        <button type="submit" class="submit-button">Submit</button>
                    </div>
        
                </form>
            </div>
    
        </div>

    </div>

<!-- Footer -->
<footer class="footer">
    <div class="footer-content">

        <p class="problem-stmt">
            College students are often stressed about maintaining their attendance. Keeping track of the number of classes they need to attend or can afford to skip becomes a tedious manual task.
        </p>

        <p class="footer-description">
            © 2025 <br>
            <br>
            This Attendance Management System helps students track their attendance percentage, 
            analyze their attendance trends, and determine the number of classes they need to attend 
            or can afford to skip while staying above the required threshold.
        </p>

        <div class="footer-links">
            <p>
                <strong>Contact:</strong> 
                <a href="mailto:durvadeshpande@gmail.com">durvadeshpande@gmail.com</a> | 
                <a href="https://github.com/durva7px" target="_blank">GitHub</a>
            </p>
            <p>
                <strong>Contact:</strong> 
                <a href="mailto:yadhnikawakde@gmail.com">yadhnikawakde@gmail.com</a> | 
                <a href="https://github.com/SuzanTurner" target="_blank">GitHub</a>
            </p>
        </div>
    </div>
</footer>
    
        

</body>

<script src="/static/script.js"></script>

</html>