<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Alert</title>
    <link rel="stylesheet" href="/static/form.css">
</head>
<body>

    <nav class="navbar">
        <div class="left">
            <a href="/" class="logo"> 
                <img src="/static/media/calendar.png" alt="Logo"> 
                <ul>
                    <li class="project-name">Attendance Management System <br>with Class Recommendation
                    </li>
                </ul>
            </a>
           
        </div>

        <ul class="nav-links">
            <li><a href="/">Login</a></li>
            <li><a href="{{ url_for('cgpa') }}">SGPA Calculator</a></li>
            
        </ul>
    </nav>

    <!-- content -->
    <form method="POST" action="/mail">
        <label>Enter your email</label>
        <input type="text" name="email" placeholder="youremail@gmail.com" required>
       
        <button type="submit" name="submit">Send Mail</button>
    </form>


    <!-- Footer -->
<footer class="footer">
    <div class="footer-content">

        <p class="problem-stmt">
            College students are often stressed about maintaining their attendance. Keeping track of the number of classes they need to attend or can afford to skip becomes a tedious manual task.
        </p>

        <p class="footer-description">
            © 2025 <br>
            <br>
            This Attendance Management System helps students track their attendance percentage, 
            analyze their attendance trends, and determine the number of classes they need to attend 
            or can afford to skip while staying above the required threshold.
        </p>

        <div class="footer-links">
            <p>
                <strong>Contact:</strong> 
                <a href="mailto:durvadeshpande@gmail.com">durvadeshpande@gmail.com</a> | 
                <a href="https://github.com/durva7px" target="_blank">GitHub</a>
            </p>
            <p>
                <strong>Contact:</strong> 
                <a href="mailto:yadhnikawakde@gmail.com">yadhnikawakde@gmail.com</a> | 
                <a href="https://github.com/SuzanTurner" target="_blank">GitHub</a>
            </p>
        </div>
    </div>
</footer>
    
</body>
</html>