<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Alert</title>
</head>
<body>
    <form method="POST" action="/mail">
        <label>Enter your email</label>
        <input type="text" name="email" placeholder="youremail@gmail.com" required>
       
        <button type="submit" name="submit">Send Mail</button>
    </form>
    <a href="/" class="btn btn-secondary"> Hawk Tuah </a>
    
</body>
</html>